* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
}

header {
  border: none;
  height: 90%;
}

#imgheader{
  width: 100%;
}

#menu-h{
  background-color: rgb(37, 37, 39);
}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 0;
}

#menu-h ul li {
  display: inline;
}
#menu-h li{
  margin-bottom: none;
}
#menu-h ul li a {
  color: #FFF;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
}

#menu-h ul li a:hover {
  background-color: #ff6f3d;
}

body {
  margin: 0;
	padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#mltrader {
  background-image: url(../imagens/grafico.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%; 
}

#pml{
  padding-left: 2%;
  padding-top: 20vw;
  text-align:left;
  color: #FFF;
  font-family: Teko;
  font-size: max(100px , 10vw);
}

#psb{
  padding-left: 2%;
  padding-top: 50px;
  text-align:left;
  color: #FFF;
  font-size: max(15px , 1.5vw);
  block-size: 25vw;
}

#funcionalidades{
  height: 100%;
}
#h1funcionalidades{
  padding-top: 60px;
  margin-left: 2%;
  font-family: Oswald;
  font-size: 25pt;
}

#imagensfuncionalidades{
  margin-top: 1.05%;
  text-align: center;
}

#duvidas{
  margin-top: 1%;
  text-align: center;
  margin-block-end: 1%;
}

#imgoquee{
  padding-right: 3%;
}
#imgcomo{
  padding-right: 3%;
}

#adquirir_o_robo{
  height: 100%;
  background-color: rgb(224, 222, 241);
}

#imgpromo{
  padding-top: 5%;
  text-align: right;
  margin-right: 90px;
}


.botaoAdquira{
  font-size: 15px;
  margin-left: 30%;
  margin-top: 10%;
  margin-block-end: 5%;
}

#padquira{
  margin-left: 2%;
  padding-top: 10%;
  font-size: 35px;
  font-family: Russo One;
}

#texto{
  font-size: 25px;
  list-style-type: circle;
  margin-top: 5%;
  margin-left: 30%;
  font-family: Fugaz One;
}

.title-section{
  padding-top: 60px;
  margin-left: 0.1%;
  font-family: Oswald;
  font-size: 25pt;
  margin-bottom: 10px;
}

.form-contato{
  height: 45vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-contato input{
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 13px;
}

.form-contato textarea{
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 13px;
  margin-bottom: 13px;
}

textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border-bottom: 1px solid #ff6f3d;
}

.botao{
  background:#ff6f3d; 
  border-radius: 30px;
  padding: 20px; 
  cursor: pointer; 
  color: #fff; 
  border: none; 
  transition: background-color 0.5s ease;
  font-weight: bold;
  font-size: 13pt;
}

.botao:hover{
  background:#ff5922;
}

@media screen and (max-width: 1400px) {
  .form-contato{
    height: 60vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .form-contato{
    height: 60vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}